<html>

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title> Create Profile </title>
    <link rel="shortcut icon" href="../static/resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/createaccount.css">
 
</head>


<body>
    {% include 'header.html' %}

    <div class="container-fluid d-flex justify-content-center createProfile">
        <div class="row account_info">
            <form id="createAccountForm" method="POST" action="newaccount">
                <div class="col-md-6 mx-auto accountInputInfo">
                    <h2>Account Information</h2>

                    <div class="form-group">
                            <input class="form-control firstname_input" required type="text" name="firstname_input"> </input>
                            <label class="form-control-placeholder">First Name</label>
                    </div>
                    <div class="form-group">
                            <input class="form-control lastname_input" required type="text" name="lastname_input" > </input>
                            <label class="form-control-placeholder">Last Name </label>
                    </div>
                    <div class="form-group">
                            <input class="form-control wsuID_input" required type="number" name="wsuID_input"> </input>
                            <label class="form-control-placeholder">WSU ID </label>
                    </div>
                    <div class="form-group">
                            <input class="form-control email_input" required type="email" name="email_input"> </input>
                            <label class="form-control-placeholder">WSU email </label>
                    </div>
                    <div class="form-group">
                            <input class="form-control phone_input" required type="number" name="phone_input"> </input>
                            <label class="form-control-placeholder">Phone number </label>
                    </div>
                    <div class="form-group">
                            <input class="form-control password_input" required type="password" name="password_input"> </input>
                            <label class="form-control-placeholder">Password </label>
                    </div>
                    
                    <div class="account_type_div">
                        <label class="account_Type">Specify Account Type:</label>

                        <select class="account_type_input" name="account">

                            <option value="Student">Student</option>
                            <option value="Instructor">Instructor</option>
                        </select>
                        <div class="Status">
                                <label id="status_update">{{ reason }}</label>
                        </div>
                        
                        <button class="select_btn btn-md btn-primary create_account">Create Account</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}


</body>
</html>