<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>Edit Profile</title>
    <link rel="shortcut icon" href="../static/resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/styles/editprofilecss.css">

</head>
</html>

<body>
    {% include 'header.html' %}

    <div class="container-fluid edit_profile">
        <div class = "row d-flex justify-content-around edit_profile_columns">
            <div class="col-md-7 edit_profile_column_1">
                <div class="view_profile_name">
                    <h2>{{ current_user.name + " " + current_user.lastName }}<span>'s Profile</span></h2>   
                    <hr class ="view_profile_line">
                </div>
                <div class="edit_profile_title">
                    {% if not current_user.isTeacher %}
                        Account type: Student
                    {% else %}
                        Account type: Instructor
                    {% endif %}
                </div>

                <form id="editAccountForm" method="POST" action="edit-account">
                    <div class="edit_profile_information">

                        <div class="edit_profile_information_general">
                            <h4 style="margin-bottom: .3em;">Contact Information</h4>
                            <div class="input_box">Name: <input class="edit_name_input" name="edit_name_input"  value="{{current_user.name + " " + current_user.lastName}}"> </input> </div>
                            <div class="input_box">Phone: <input class="edit_phone_input" name="edit_phone_input" value={{current_user.phone}}> </input> </div>
                        </div>

                        {% if not current_user.isTeacher %}

                        <div class="edit_profile_information_student">
                            <h4 style="margin-bottom: .3em;">Education Information</h4>
                            <div class="input_box">Major: <input class="edit_major_input" name="edit_major_input"  value={{current_user.major}}> </input> </div>
                            <div class="input_box">GPA: <input class="edit_gpa_input" name="edit_gpa_input"  value={{current_user.gpa}}> </input> </div>
                            <div class="input_box">Grad. Date: <input class="edit_graduation_date_input" name="edit_graduation_date_input"  value={{current_user.grad_date}}> </input> </div>
                            <div class="input_box">Experience: <input class="edit_experience_input" name="edit_experience_input"  value={{current_user.experience}}> </input> </div>
                        </div>

                        <div class="edit_profile_information_pref">
                            <div class="createAccountForm">
                                <h4 style="margin-bottom: .3em;">TA Applications</h4>
                                <div> 
                                    Select Course to Apply for: 
                                    <select class="account_type_input" name="edit_add_TA_app">

                                        <option value="none" selected disabled hidden>Select</option>
                                        {% for i in data %}
                                            <option value="{{i.title}}">{{i.title}}</option>
                                        {% endfor %}
                                    </select>

                                    

                                </div>

                                Your Current Applications: (Check to Remove)
                                <ul class = "edit_profile_information_courses">
                                    
                                    {% if data2[0] == null %}
                                        No current Applications
                                    {% else %}


                                        {% for i in data2 %}
                                        <li>
                                            <div class="left1" style="float:left;">
                                                {{i.classID}} 
                                            </div>

                                            <div class="edit_student_TA_app" name="edit_remove_TA_app"> 
                                                <input type="checkbox" style="display:inline-block;margin-left:.5em;" name="checked_box" value="{{i.id}}">
                                                
                                            </div>
                                        </li>
                                        {% endfor %}
                                    
                                    {% endif %}
                                </ul>


                            </div>
                        </div>
                        {% endif %}
                        <div class="edit_buttons">
                          <input type="submit" class="save_profile_changes" value="Submit Changes" />
                          <input type="submit" class="cancel_profile_changes" value="Cancel" />
                        </div>

                    </div>
                </form>
            </div>
            
        </div>
    </div>
    {% include 'footer.html' %}
</body>