<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
</head>

<footer>
    <div class="container-fluid" > 
        <!-- <div class = "footer_text"> -->
            <div class="row">
                <div class = "col-6 d-flex justify-content-start "><a href="login.html" class="footer-ref">Contact Us</a></div>
                <div class = "col-6 d-flex justify-content-end ">© Washington State University</div>
            </div>
        <!-- </div> -->
    </div>    
</footer>