.createProfile{
    /* margin: 2em; */
    min-height: 80vh;
    padding: 2em;
    background: url("../resources/spark.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;  

}

.account_info {
    color: white;
    background-color: #5e6a71;
    display: block;
    outline: .15em solid black;
    width: 30%;
    margin-bottom: 2em;
    justify-content: center;
}

.accountInputInfo {
    margin: 24px;
    padding: 24px;
}

.firstNameInput {
    margin: 12px;
    padding-top: 6px;

}
.lastNameInput {
    margin: 12px;
    padding-top: 16px;

}
.wsuIDInput {
    margin: 12px;
    padding-top: 16px;

}
.emailInput {
    margin: 12px;
    padding-top: 16px;

}
.phoneInput {
    margin: 12px;
    padding-top: 16px;

}
.passwordInput {
    margin: 12px;
    padding-top: 16px;

}
.account_Type {
    margin-left: 12px;
    padding-top: 16px;

}
.account_type_input {
    margin: 12px;
    margin-left: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;

}
.button.is-block.is-info.is-large.is-fullwidth {
    display: block;
    padding: 6px 12px 6px 12px;
    margin: 24px;
    margin-top: 30px;
    margin-left: 12px;
    background-color: rgb(51, 126, 175);
    border-radius: 2em;
    color: white;
    width:247px;
    height: 40px;
    font-size: 120%;

}

h2{
    margin-left: 7%;
    margin-bottom: 10%;
}

.create_account{
    display:block;
    margin: auto;
    border-radius: 0.5em;
    padding: 5px 15px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.form-group{
    margin-left: 15%;
    width: 70%;
    text-align: initial;
}

.account_type_div{
    width: 100%;
    margin-left: 5%;
}

.accountInputInfo{
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    min-width: 70%;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    [class*="account_info"] {
        min-width: 50vw;
    }
    [class*="create_account"] {
        padding: 2px 7px;
    }
    [class*="form-control-placeholder"] {
        font-size: 75%;
    }
    .form-control:focus + .form-control-placeholder{
        font-size: 55%;
    }

    h2{
        font-size: 1.5rem;
    }
}

