
header {
    display: block;
    height: auto;
    background-color: #981e32;
    color: white;
    top:0;    
    font-size: 1.3em;
}


.login{
    font-size: .7em;
    font:red;

}

.login_box{
    width: 100%;
    padding-right: -3em;
    text-align: center;
}
a{
    color: white;
    text-decoration: underline;
}

a:hover{
    color: yellow
}